html, body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-color: #262626;
    margin: 0;
    padding: 0%;
    height: 100%;
    text-align: center;
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
}

button {
    border: none;
    background-color: #171717;
    padding: 7px 30px;
    border-radius: 24px;
    color: white;
    transition: 0.3s all ease-in-out;
}
button:hover {
    background-color: #383838;
    box-shadow: 0px 0px 16px 3px #383838;
    transform: translateY(-5px);
}

.center-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    scroll-snap-align: center;
}
#text h1 {
    font-size: 64px !important; 
    font-weight: 800 !important;
    margin: 0;
}
/* blinking in scripts/main.js */
#text h2 {
    margin: 0;
    font-size: 16px !important; 
    font-weight: 200 !important;
    visibility: hidden;
    animation-fill-mode: both;
}

/* Animations from https://www.w3schools.com/w3css/4/w3.css */
.animate-top {
    position:relative;
    animation:animatetop 0.4s
}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

.animate-opacity-7s {
    animation: opac 7s
}
@keyframes opac {from{opacity:0} to{opacity:1}}

.animate-blinking {
    animation: fade 3s infinite;
}
@keyframes fade {
    from { visibility: visible; opacity: 0; }
    50% { opacity: 1; }
    to { opacity: 0; }
}       


.rest-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    scroll-snap-align: center;
    justify-content: center;
}

#choose-lang {
    flex-direction: column;
}

#flags {
    flex-direction: row;
}

#flags img {
    width: 50px;
    padding: 5px 30px;
    border-radius: 24px;
    color: white;
    transition: 0.3s all ease-in-out;
}

#flags img:hover {
    box-shadow: 0px 0px 16px 3px #383838;
    transform: translateY(-5px);
}

#welcome {
    display: none;
}